{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Singapore District Map Example</title>
    <link rel="stylesheet" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'own/style.css' %}">
    <script defer src="{% static 'own/script.js' %}"></script>
  </head>
  <style type="text/css">
    .leaflet-container {
    }
    .sg-district-map-popup .leaflet-popup-content-wrapper {
      border-radius: 10px;
    }


    #my_map {
      width: 30vw;
      height: auto;
      margin: 5vw 5vw 5vw 5vw;
    }

    #my_table {
      
      margin: 15vw 5vw 5vw 5vw;
    }
  </style>


  
  <body ng-app="test" ng-controller="MainCtrl" data-frame="{{ json_info }}">
    <div id="disease_choices">
      <ul>
        <li><label><input type="checkbox" name="main-disease" value="Mental Health"> Mental Health</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Neurology"> Neurology</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Urology"> Urology</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Cardiovascular Disease"> Cardiovascular Disease</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Renal"> Renal</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Respiratory"> Respiratory</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Orthopaedics"> Orthopaedics</label></li>
        <li><label><input type="checkbox" name="main-disease" value="Diabetes"> Diabetes</label></li>
      </ul>
    </div>
    

    <div id="wrapper">
      <!-- Map -->
      <div id="my_map">
        <section>
          <sg-district-map data-selected="selected"/>
        </section>
      </div>
      <!-- Map end-->

      <!-- Table -->
      <div id="my_table">
        <div id="table_place">
        </div>
      </div>

    </div>
  	
    <button data-modal-target="#modal" onclick="expandTable()">Click me to expand table</button>
    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title">Example</div>
        <button data-close-button class="close-button">&times;</button>
      </div>
      <div class="modal-body" id="modal-body">
        Lorem ipsum
      </div>
    </div>
    <div id="overlay"></div>
  </body>


	<script>
    var current_dist = "";
    const json_file = "{{json_info|escapejs}}";
    const mapping_info = "{{mapping_info|escapejs}}";
    const json_dict_full =  JSON.parse(json_file);
    const mapping_dict = JSON.parse(mapping_info);
    var choices = {};

    const choices_selector = document.getElementById('disease_choices');
    var all_diseases = choices_selector.getElementsByTagName('input');

    for (var i=0, len = all_diseases.length; i<len; i++) {
      all_diseases[i].onclick = updateDict;
    }

    function updateDict(e) {
      if (this.checked) {
        choices[this.value] = this.value;
      } else {
         if (choices.hasOwnProperty(this.value)) {
            delete choices[this.value];
         }
      }
    }
    

		function create_table(zone_code, zone_name) {
      current_dist = zone_code;
      var info = json_dict_full[zone_code];
			total_rows = info[0].length + 1;
			total_columns = info[1].length + 1;
      var choices_indexes = [];

      for (choice in choices) {
        temp = info[1].findIndex(element => element == choice);
        if (temp > -1) choices_indexes.push(temp);
      }


			var mytable = '<table border=1><tr>' + zone_name + '</tr>';

			for (var row = 0; row < total_rows; row ++) {
				mytable += '<tr>';

				if (row == 0) {
					mytable += '<td>Sub zone</td>';
				} else {
					mytable += '<td>' + info[0][row - 1]  + '</td>';
				}

				for (col of choices_indexes) {
          mytable += '<td>' + info[row+1][col]  + '</td>';
        }

				mytable += '</tr>';
        
			}

			mytable += '</table>';

      //document.getElementById('table_place').innerHTML = '<p>aaa</p>';
			document.getElementById('table_place').innerHTML = mytable;
		};

    function expandTable() {
      var tempo = [];
      var choices_indexes = [];
      var info = json_dict_full[current_dist];

      if (current_dist == "") {
        alert("Please choose a district first");
      } else {
        for (choice in choices) {
          tempo = tempo.concat(mapping_dict[choices[choice]]);
        }

        for (index = 0; index < tempo.length; index++) {
          temp = info[1].findIndex(element => element == tempo[index]);
          if (temp > -1) choices_indexes.push(temp);
        }

        var mytable = '<table border=1><tr>' + current_dist + '</tr>';

        for (var row = 0; row < total_rows; row ++) {
          mytable += '<tr>';

          if (row == 0) {
            mytable += '<td>Sub zone</td>';
          } else {
            mytable += '<td>' + info[0][row - 1]  + '</td>';
          }

          for (col of choices_indexes) {
            mytable += '<td>' + info[row+1][col]  + '</td>';
          }

          mytable += '</tr>';
          
        }

        mytable += '</table>';
        document.getElementById('modal-body').innerHTML = mytable;
      }
    }
	</script>

  	<script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/default.js' %}"></script>
    <script type="text/javascript">
      angular
        .module('test', ['sgDistrictMap'])
        .config(function(sgDistrictMapStyleProvider) {
          sgDistrictMapStyleProvider.setHighlightStyle({
            fillColor: "#0083bb"
          });
          sgDistrictMapStyleProvider.setHoverStyle({
            fillColor: "#DDD"
          });
          sgDistrictMapStyleProvider.setShowPopup(true);
        })
        .controller('MainCtrl', ['$scope', function($scope) {
          $scope.selected = {};
        }]);
    </script>
</html>